<mat-form-field>
    <mat-select placeholder="{{'DASHBOARD.COUNTRY'|translate}}" [(value)]="country" (valueChange)="submit(Type)">
            <mat-option value="Afghanistan" >{{'DROPDOWN.Afghanistan'|translate}}</mat-option>      
            <mat-option value="Albania" >{{'DROPDOWN.Albania'|translate}}</mat-option>
            <mat-option value="Algeria" >{{'DROPDOWN.Algeria'|translate}}</mat-option>
            <mat-option value="Andorra" >{{'DROPDOWN.Andorra'|translate}}</mat-option>
            <mat-option value="Angola" >{{'DROPDOWN.Angola'|translate}}</mat-option>
            <mat-option value="Antigua and Barbuda" >{{'DROPDOWN.AntiguaandBarbuda'|translate}}</mat-option>
            <mat-option value="Argentina" >{{'DROPDOWN.Argentina'|translate}}</mat-option>
            <mat-option value="Armenia" >{{'DROPDOWN.Armenia'|translate}}</mat-option>
            <mat-option value="Australia" >{{'DROPDOWN.Australia'|translate}}</mat-option>
            <mat-option value="Austria" >{{'DROPDOWN.Austria'|translate}}</mat-option>
            <mat-option value="Azerbaijan" >{{'DROPDOWN.Azerbaijan'|translate}}</mat-option>
            <mat-option value="Bahamas" >{{'DROPDOWN.Bahamas'|translate}}</mat-option>
            <mat-option value="Bahrain" >{{'DROPDOWN.Bahrain'|translate}}</mat-option>
            <mat-option value="Bangladesh" >{{'DROPDOWN.Bangladesh'|translate}}</mat-option>
            <mat-option value="Barbados" >{{'DROPDOWN.Barbados'|translate}}</mat-option>
            <mat-option value="Belarus" >{{'DROPDOWN.Belarus'|translate}}</mat-option>
            <mat-option value="Belgium" >{{'DROPDOWN.Belgium'|translate}}</mat-option>
            <mat-option value="Belize" >{{'DROPDOWN.Belize'|translate}}</mat-option>
            <mat-option value="Benin" >{{'DROPDOWN.Benin'|translate}}</mat-option>
            <mat-option value="Bhutan" >{{'DROPDOWN.Bhutan'|translate}}</mat-option>
            <mat-option value="Bolivia" >{{'DROPDOWN.Bolivia'|translate}}</mat-option>
            <mat-option value="Bosnia and Herzegovina" >{{'DROPDOWN.BosniaandHerzegovina'|translate}}</mat-option>
            <mat-option value="Botswana" >{{'DROPDOWN.Botswana'|translate}}</mat-option>
            <mat-option value="Brazil">{{'DROPDOWN.Brazil'|translate}}</mat-option>
            <mat-option value="Bulgaria" >{{'DROPDOWN.Bulgaria'|translate}}</mat-option>
            <mat-option value="Burkina Faso" >{{'DROPDOWN.BurkinaFaso'|translate}}</mat-option>
            <mat-option value="Burma" >{{'DROPDOWN.Burma'|translate}}</mat-option>
            <mat-option value="Burundi" >{{'DROPDOWN.Burundi'|translate}}</mat-option>
            <mat-option value="Cabo Verde" >{{'DROPDOWN.CaboVerde'|translate}}</mat-option>
            <mat-option value="Cambodia" >{{'DROPDOWN.Cambodia'|translate}}</mat-option>
            <mat-option value="Cameroon" >{{'DROPDOWN.Cameroon'|translate}}</mat-option>
            <mat-option value="Canada" >{{'DROPDOWN.Canada'|translate}}</mat-option>
            <mat-option value="Central African Republic" >{{'DROPDOWN.CentralAfricanRepublic'|translate}}</mat-option>
            <mat-option value="Chad" >{{'DROPDOWN.Chad'|translate}}</mat-option>
            <mat-option value="Chile" >{{'DROPDOWN.Chile'|translate}}</mat-option>
            <mat-option value="China" >{{'DROPDOWN.China'|translate}}</mat-option>
            <mat-option value="Colombia" >{{'DROPDOWN.Colombia'|translate}}</mat-option>
            <mat-option value="Comoros" >{{'DROPDOWN.Comoros'|translate}}</mat-option>
            <mat-option value="Congo (Brazzaville)" >{{'DROPDOWN.CongoBrazzaville'|translate}}</mat-option>
            <mat-option value="Congo (Kinshasa)" >{{'DROPDOWN.CongoKinshasa'|translate}}</mat-option>
            <mat-option value="Costa Rica" >{{'DROPDOWN.CostaRica'|translate}}</mat-option>
            <mat-option value="Cote D'ivoire" >{{'DROPDOWN.CoteDIvoire'|translate}}</mat-option>
            <mat-option value="Croatia" >{{'DROPDOWN.Croatia'|translate}}</mat-option>
            <mat-option value="Cuba" >{{'DROPDOWN.Cuba'|translate}}</mat-option>
            <mat-option value="Cyprus" >{{'DROPDOWN.Cyprus'|translate}}</mat-option>
            <mat-option value="Czechia" >{{'DROPDOWN.Czechia'|translate}}</mat-option>
            <mat-option value="Denmark" >{{'DROPDOWN.Denmark'|translate}}</mat-option>
            <mat-option value="Diamond Princess" >{{'DROPDOWN.DiamondPrincess'|translate}}</mat-option>
            <mat-option value="Djibouti" >{{'DROPDOWN.Djibouti'|translate}}</mat-option>
            <mat-option value="Dominica" >{{'DROPDOWN.Dominica'|translate}}</mat-option>
            <mat-option value="Dominican Republic" >{{'DROPDOWN.DominicanRepublic'|translate}}</mat-option>
            <mat-option value="Ecuador" >{{'DROPDOWN.Ecuador'|translate}}</mat-option>
            <mat-option value="Egypt" >{{'DROPDOWN.Egypt'|translate}}</mat-option>
            <mat-option value="El Salvador" >{{'DROPDOWN.ElSalvador'|translate}}</mat-option>
            <mat-option value="Equatorial Guinea" >{{'DROPDOWN.EquatorialGuinea'|translate}}</mat-option>
            <mat-option value="Eritrea" >{{'DROPDOWN.Eritrea'|translate}}</mat-option>
            <mat-option value="Estonia" >{{'DROPDOWN.Estonia'|translate}}</mat-option>
            <mat-option value="Eswatini" >{{'DROPDOWN.Eswatini'|translate}}</mat-option>
            <mat-option value="Ethiopia" >{{'DROPDOWN.Ethiopia'|translate}}</mat-option>
            <mat-option value="Fiji" >{{'DROPDOWN.Fiji'|translate}}</mat-option>
            <mat-option value="Finland" >{{'DROPDOWN.Finland'|translate}}</mat-option>
            <mat-option value="France" >{{'DROPDOWN.France'|translate}}</mat-option>
            <mat-option value="Gabon"  >{{'DROPDOWN.Gabon'|translate}}</mat-option>
            <mat-option value="Gambia" >{{'DROPDOWN.Gambia'|translate}}</mat-option>
            <mat-option value="Georgia" >{{'DROPDOWN.Georgia'|translate}}</mat-option>
            <mat-option value="Germany" >{{'DROPDOWN.Germany'|translate}}</mat-option>
            <mat-option value="Ghana" >{{'DROPDOWN.Ghana'|translate}}</mat-option>
            <mat-option value="Greece" >{{'DROPDOWN.Greece'|translate}}</mat-option>
            <mat-option value="Grenada" >{{'DROPDOWN.Grenada'|translate}}</mat-option>
            <mat-option value="Guatemala" >{{'DROPDOWN.Guatemala'|translate}}</mat-option>
            <mat-option value="Guinea" >{{'DROPDOWN.Guinea'|translate}}</mat-option>
            <mat-option value="Guinea-bissau" >{{'DROPDOWN.GuineaBissau'|translate}}</mat-option>
            <mat-option value="Guyana" >{{'DROPDOWN.Guyana'|translate}}</mat-option>
            <mat-option value="Haiti" >{{'DROPDOWN.Haiti'|translate}}</mat-option>
            <mat-option value="Holy See" >{{'DROPDOWN.HolySee'|translate}}</mat-option>
            <mat-option value="Honduras" >{{'DROPDOWN.Honduras'|translate}}</mat-option>
            <mat-option value="Hungary" >{{'DROPDOWN.Hungary'|translate}}</mat-option>
            <mat-option value="Iceland" >{{'DROPDOWN.Iceland'|translate}}</mat-option>
            <mat-option value="India" >{{'DROPDOWN.India'|translate}}</mat-option>
            <mat-option value="Indonesia" >{{'DROPDOWN.Indonesia'|translate}}</mat-option>
            <mat-option value="Iran" >{{'DROPDOWN.Iran'|translate}}</mat-option>
            <mat-option value="Iraq" >{{'DROPDOWN.Iraq'|translate}}</mat-option>
            <mat-option value="Ireland" >{{'DROPDOWN.Ireland'|translate}}</mat-option>
            <mat-option value="Israel" >{{'DROPDOWN.Israel'|translate}}</mat-option>
            <mat-option value="Italy" >{{'DROPDOWN.Italy'|translate}}</mat-option>
            <mat-option value="Jamaica" >{{'DROPDOWN.Jamaica'|translate}}</mat-option>
            <mat-option value="Japan" >{{'DROPDOWN.Japan'|translate}}</mat-option>
            <mat-option value="Jordan" >{{'DROPDOWN.Jordan'|translate}}</mat-option>
            <mat-option value="Kazakhstan" >{{'DROPDOWN.Kazakhstan'|translate}}</mat-option>
            <mat-option value="Kenya" >{{'DROPDOWN.Kenya'|translate}}</mat-option>
            <mat-option value="Kosovo" >{{'DROPDOWN.Kosovo'|translate}}</mat-option>
            <mat-option value="Kuwait" >{{'DROPDOWN.Kuwait'|translate}}</mat-option>
            <mat-option value="Kyrgyzstan" >{{'DROPDOWN.Kyrgyzstan'|translate}}</mat-option>
            <mat-option value="Laos" >{{'DROPDOWN.Laos'|translate}}</mat-option>
            <mat-option value="Latvia" >{{'DROPDOWN.Latvia'|translate}}</mat-option>
            <mat-option value="Lebanon" >{{'DROPDOWN.Lebanon'|translate}}</mat-option>
            <mat-option value="Lesotho" >{{'DROPDOWN.Lesotho'|translate}}</mat-option>
            <mat-option value="Liberia" >{{'DROPDOWN.Liberia'|translate}}</mat-option>
            <mat-option value="Libya" >{{'DROPDOWN.Libya'|translate}}</mat-option>
            <mat-option value="Liechtenstein" >{{'DROPDOWN.Liechtenstein'|translate}}</mat-option>
            <mat-option value="Lithuania" >{{'DROPDOWN.Lithuania'|translate}}</mat-option>
            <mat-option value="Luxembourg" >{{'DROPDOWN.Luxembourg'|translate}}</mat-option>
            <mat-option value="MS Zaandam" >{{'DROPDOWN.MSZaandam'|translate}}</mat-option>
            <mat-option value="Madagascar" >{{'DROPDOWN.Madagascar'|translate}}</mat-option>
            <mat-option value="Malawi" >{{'DROPDOWN.Malawi'|translate}}</mat-option>
            <mat-option value="Malaysia" >{{'DROPDOWN.Malaysia'|translate}}</mat-option>
            <mat-option value="Maldives" >{{'DROPDOWN.Maldives'|translate}}</mat-option>
            <mat-option value="Mali" >{{'DROPDOWN.Mali'|translate}}</mat-option>
            <mat-option value="Malta" >{{'DROPDOWN.Malta'|translate}}</mat-option>
            <mat-option value="Mauritania" >{{'DROPDOWN.Mauritania'|translate}}</mat-option>
            <mat-option value="Mauritius" >{{'DROPDOWN.Mauritius'|translate}}</mat-option>
            <mat-option value="Mexico" >{{'DROPDOWN.Mexico'|translate}}</mat-option>
            <mat-option value="Moldova" >{{'DROPDOWN.Moldova'|translate}}</mat-option>
            <mat-option value="Monaco" >{{'DROPDOWN.Monaco'|translate}}</mat-option>
            <mat-option value="Mongolia" >{{'DROPDOWN.Mongolia'|translate}}</mat-option>
            <mat-option value="Montenegro" >{{'DROPDOWN.Montenegro'|translate}}</mat-option>
            <mat-option value="Morocco" >{{'DROPDOWN.Morocco'|translate}}</mat-option>
            <mat-option value="Mozambique" >{{'DROPDOWN.Mozambique'|translate}}</mat-option>
            <mat-option value="Namibia" >{{'DROPDOWN.Namibia'|translate}}</mat-option>
            <mat-option value="Nepal" >{{'DROPDOWN.Nepal'|translate}}</mat-option>
            <mat-option value="Netherlands" >{{'DROPDOWN.Netherlands'|translate}}</mat-option>
            <mat-option value="New Zealand" >{{'DROPDOWN.NewZealand'|translate}}</mat-option>
            <mat-option value="Nicaragua" >{{'DROPDOWN.Nicaragua'|translate}}</mat-option>
            <mat-option value="Niger" >{{'DROPDOWN.Niger'|translate}}</mat-option>
            <mat-option value="Nigeria" >{{'DROPDOWN.Nigeria'|translate}}</mat-option>
            <mat-option value="North Macedonia" >{{'DROPDOWN.NorthMacedonia'|translate}}</mat-option>
            <mat-option value="Norway" >{{'DROPDOWN.Norway'|translate}}</mat-option>
            <mat-option value="Oman" >{{'DROPDOWN.Oman'|translate}}</mat-option>
            <mat-option value="Pakistan" >{{'DROPDOWN.Pakistan'|translate}}</mat-option>
            <mat-option value="Panama" >{{'DROPDOWN.Panama'|translate}}</mat-option>
            <mat-option value="Papua New Guinea" >{{'DROPDOWN.PapuaNewGuinea'|translate}}</mat-option>
            <mat-option value="Paraguay" >{{'DROPDOWN.Paraguay'|translate}}</mat-option>
            <mat-option value="Peru" >{{'DROPDOWN.Peru'|translate}}</mat-option>
            <mat-option value="Philippines" >{{'DROPDOWN.Philippines'|translate}}</mat-option>
            <mat-option value="Poland" >{{'DROPDOWN.Poland'|translate}}</mat-option>
            <mat-option value="Portugal" >{{'DROPDOWN.Portugal'|translate}}</mat-option>
            <mat-option value="Qatar" >{{'DROPDOWN.Qatar'|translate}}</mat-option>
            <mat-option value="Romania" >{{'DROPDOWN.Romania'|translate}}</mat-option>
            <mat-option value="Russian" >{{'DROPDOWN.Russian'|translate}}</mat-option>
            <mat-option value="Rwanda" >{{'DROPDOWN.Rwanda'|translate}}</mat-option>
            <mat-option value="Saint Kitts and Nevis" >{{'DROPDOWN.SaintKittsandNevis'|translate}}</mat-option>
            <mat-option value="Saint Lucia" >{{'DROPDOWN.SaintLucia'|translate}}</mat-option>
            <mat-option value="Saint Vincent and The Grenadines" >{{'DROPDOWN.SaintVincentandTheGrenadines'|translate}}</mat-option>
            <mat-option value="San Marino" >{{'DROPDOWN.SanMarino'|translate}}</mat-option>
            <mat-option value="Sao Tome and Principe" >{{'DROPDOWN.SaoTomeandPrincipe'|translate}}</mat-option>
            <mat-option value="Saudi Arabia" >{{'DROPDOWN.SaudiArabia'|translate}}</mat-option>
            <mat-option value="Senegal" >{{'DROPDOWN.Senegal'|translate}}</mat-option>
            <mat-option value="Serbia" >{{'DROPDOWN.Serbia'|translate}}</mat-option>
            <mat-option value="Seychelles" >{{'DROPDOWN.Seychelles'|translate}}</mat-option>
            <mat-option value="Sierra Leone" >{{'DROPDOWN.SierraLeone'|translate}}</mat-option>
            <mat-option value="Singapore" >{{'DROPDOWN.Singapore'|translate}}</mat-option>
            <mat-option value="Slovakia" >{{'DROPDOWN.Slovakia'|translate}}</mat-option>
            <mat-option value="Slovenia" >{{'DROPDOWN.Slovenia'|translate}}</mat-option>
            <mat-option value="Somalia" >{{'DROPDOWN.Somalia'|translate}}</mat-option>
            <mat-option value="South Africa" >{{'DROPDOWN.SouthAfrica'|translate}}</mat-option>
            <mat-option value="South Korea" >{{'DROPDOWN.SouthKorea'|translate}}</mat-option>
            <mat-option value="South Sudan" >{{'DROPDOWN.SouthSudan'|translate}}</mat-option>
            <mat-option value="Spain" >{{'DROPDOWN.Spain'|translate}}</mat-option>
            <mat-option value="Sri Lanka" >{{'DROPDOWN.SriLanka'|translate}}</mat-option>
            <mat-option value="Sudan" >{{'DROPDOWN.Sudan'|translate}}</mat-option>
            <mat-option value="Suriname" >{{'DROPDOWN.Suriname'|translate}}</mat-option>
            <mat-option value="Sweden" >{{'DROPDOWN.Sweden'|translate}}</mat-option>
            <mat-option value="Switzerland" >{{'DROPDOWN.Switzerland'|translate}}</mat-option>
            <mat-option value="Syria" >{{'DROPDOWN.Syria'|translate}}</mat-option>
            <mat-option value="Taiwan" >{{'DROPDOWN.Taiwan'|translate}}</mat-option>
            <mat-option value="Tajikistan" >{{'DROPDOWN.Tajikistan'|translate}}</mat-option>
            <mat-option value="Tanzania" >{{'DROPDOWN.Tanzania'|translate}}</mat-option>
            <mat-option value="Thailand" >{{'DROPDOWN.Thailand'|translate}}</mat-option>
            <mat-option value="Timor-leste" >{{'DROPDOWN.TimorLeste'|translate}}</mat-option>
            <mat-option value="Togo" >{{'DROPDOWN.Togo'|translate}}</mat-option>
            <mat-option value="Trinidad and Tobago" >{{'DROPDOWN.TrinidadandTobago'|translate}}</mat-option>
            <mat-option value="Tunisia" >{{'DROPDOWN.Tunisia'|translate}}</mat-option>
            <mat-option value="Turkey" >{{'DROPDOWN.Turkey'|translate}}</mat-option>
            <mat-option value="Uganda" >{{'DROPDOWN.Uganda'|translate}}</mat-option>
            <mat-option value="Ukraine" >{{'DROPDOWN.Ukraine'|translate}}</mat-option>
            <mat-option value="United Arab Emirates" >{{'DROPDOWN.UnitedArabEmirates'|translate}}</mat-option>
            <mat-option value="United Kingdom" >{{'DROPDOWN.UnitedKingdom'|translate}}</mat-option>
            <mat-option value="United States" >{{'DROPDOWN.UnitedStates'|translate}}</mat-option>
            <mat-option value="Uruguay" >{{'DROPDOWN.Uruguay'|translate}}</mat-option>
            <mat-option value="Uzbekistan" >{{'DROPDOWN.Uzbekistan'|translate}}</mat-option>
            <mat-option value="Venezuela" >{{'DROPDOWN.Venezuela'|translate}}</mat-option>
            <mat-option value="Vietnam" >{{'DROPDOWN.Vietnam'|translate}}</mat-option>
            <mat-option value="West Bank and Gaza" >{{'DROPDOWN.WestBankandGaza'|translate}}</mat-option>
            <mat-option value="Western Sahara" >{{'DROPDOWN.WesternSahara'|translate}}</mat-option>
            <mat-option value="Yemen" >{{'DROPDOWN.Yemen'|translate}}</mat-option>
            <mat-option value="Zambia" >{{'DROPDOWN.Zambia'|translate}}</mat-option>
            <mat-option value="Zimbabwe" >{{'DROPDOWN.Zimbabwe'|translate}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field *ngIf="country=='Brazil'">
    <mat-select placeholder="{{'DASHBOARD.STATE'|translate}}" [(value)]="state" (valueChange)="submit(Type)">
        <mat-option value="null">{{'DROPDOWN.Todos'|translate}}</mat-option>
        <mat-option value="Acre">Acre</mat-option>
        <mat-option value="Alagoas">Alagoas</mat-option>
        <mat-option value="Amapa">Amapá</mat-option>
        <mat-option value="Amazonas">Amazonas</mat-option>
        <mat-option value="Bahia">Bahia</mat-option>
        <mat-option value="Ceara">Ceará</mat-option>
        <mat-option value="Distrito Federal">Distrito Federal</mat-option>
        <mat-option value="Espirito Santo">Espírito Santo</mat-option>
        <mat-option value="Goias">Goiás</mat-option>
        <mat-option value="Maranhao">Maranhão</mat-option>
        <mat-option value="Mato Grosso">Mato Grosso</mat-option>
        <mat-option value="Mato Grosso do Sul">Mato Grosso do Sul</mat-option>
        <mat-option value="Minas Gerais">Minas Gerais</mat-option>
        <mat-option value="Para">Pará</mat-option>
        <mat-option value="Paraiba">Paraíba</mat-option>
        <mat-option value="Parana">Paraná</mat-option>
        <mat-option value="Pernambuco">Pernambuco</mat-option>
        <mat-option value="Piaui">Piauí</mat-option>
        <mat-option value="Rio de Janeiro">Rio de Janeiro</mat-option>
        <mat-option value="Rio Grande do Norte">Rio Grande do Norte</mat-option>
        <mat-option value="Rio Grande do Sul">Rio Grande do Sul</mat-option>
        <mat-option value="Rondonia">Rondônia</mat-option>
        <mat-option value="Roraima">Roraima</mat-option>
        <mat-option value="Santa Catarina">Santa Catarina</mat-option>
        <mat-option value="Sao Paulo">São Paulo</mat-option>
        <mat-option value="Sergipe">Sergipe</mat-option>
        <mat-option value="Tocantins">Tocantins</mat-option>
    </mat-select> 
</mat-form-field>


<mat-form-field *ngIf="country!='Brazil'">
    <mat-select placeholder="{{'DASHBOARD.STATE'|translate}}" [(value)]="state" (valueChange)="submit(Type)" value="null">
        <mat-option value="null">Todos</mat-option>
    </mat-select>
</mat-form-field>

<!-- <div class="col-md-3">
    <div class="float-right">
         <button *ngIf="[Type] == 'cenario'" id="submit" mat-raised-button color="primary" (valueChange)="null" (click)="submit(type == 'cenario')">{{'DASHBOARD.PROCESSAR_BTN' | translate}}</button>
    </div>
</div> -->