<div class="card card-custom" [ngClass]="cssClasses">

    <!-- Body -->
    <div class="card-body pt-2">
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10">
            <!--begin::Bullet-->
            <span class="bullet bullet-bar bg-success align-self-stretch"></span>
            <!--end::Bullet-->

            <!--begin::Text-->
            <div class="d-flex flex-column flex-grow-1">
                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">
                    Create FireStone Logo
                </a>
                <span class="text-muted font-weight-bold">
                    Due in 2 Days
                </span>
            </div>
            <!--end::Text-->
        </div>
        <!--end:Item-->

    </div>
</div>