<div class="kt-confirmed_cases">
    <div class="row">
      <div class="col-md-6">
        <div class="kt-confirmed_cases__content">
          <span style="white-space: pre-line" [translate]="'DASHBOARD.NOTASFISCAISVALOR'" class="kt-confirmed_cases__number"></span>
          <!--<span [translate]="'DASHBOARD.DESC_CASOSCONFIRMADOS'" [translateParams]="{value: '20'}" class="kt-confirmed_cases__desc"></span>-->
        </div>
      </div>
  
  </div>

<plotly-plot [data]="graph.data" 
             [useResizeHandler]="true" 
             [style]="{position: 'relative', width: '100%', height: '100%'}">

</plotly-plot>
<!-- [layout]="graph.layout"  -->