<!-- begin:: Footer -->
<div class="kt-footer kt-footer--extended kt-grid__item" id="kt_footer">
	<div class="kt-footer__top">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<div class="row">
				<div class="col-lg-8">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title" [translate]="'DASHBOARD.ABOUT'"></h3>
						<div class="kt-footer__content text-justify">
						<p style="white-space: pre-line"  [translate]="'DASHBOARD.TXT'"></p>	
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-4">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title">Quick Links</h3>
						<div class="kt-footer__content">
							<div class="kt-footer__nav">
								<div class="kt-footer__nav-section">
									<a href="javascript:;">General Reports</a>
									<a href="javascript:;">Dashboart Widgets</a>
									<a href="javascript:;">Custom Pages</a>
								</div>
								<div class="kt-footer__nav-section">
									<a href="javascript:;">User Setting</a>
									<a href="javascript:;">Custom Pages</a>
									<a href="javascript:;">Intranet Settings</a>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="col-lg-4">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title" [translate]="'DASHBOARD.NEWSLETTER'"></h3>
						<div class="kt-footer__content">
							<form [formGroup]="form" (ngSubmit)="onSubmit()" class="kt-footer__subscribe">
								<div class="input-group">
									<input formControlName="email" type="email" class="form-control" placeholder="{{'DASHBOARD.INSERT_EMAIL'|translate}}" [ngClass]="{'is-invalid': formErrors.email}">
									<div class="input-group-append">
										<button class="btn btn-info" type="submit" [translate]="'DASHBOARD.SEND'"></button>
									</div>
								</div>
							</form>
						</div>
						<kt-alert *ngIf="hasFormErrors" 
							type="warn" [showCloseButton]="true" [duration]="3000" (close)="onAlertClose($event)">
							<span>{{ formErrors.email }}</span>
						</kt-alert>
						<kt-alert *ngIf="submitSuccess" 
							type="primary" [showCloseButton]="true" [duration]="3000" (close)="onAlertClose($event)">
							<span>{{ submitMsg }}</span>
						</kt-alert>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-footer__bottom">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<div class="kt-footer__wrapper">
				<div class="kt-footer__logo">
					<a href="/">
						<img alt="Logo" src="./assets/media/logos/logo-2-sm.png">
					</a>
					<!-- <div class="kt-footer__copyright">
						{{today | date:'yyyy'}}&nbsp;©&nbsp;
						<a href="http://keenthemes.com/metronic" target="_blank">Keenthemes</a>
					</div> -->
				</div>
				<!-- <div class="kt-footer__menu">
					<a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a>
					<a href="http://keenthemes.com/metronic" target="_blank">Team</a>
					<a href="http://keenthemes.com/metronic" target="_blank">Contact</a>
				</div> -->
			</div>
		</div>
	</div>
</div>
<!-- end:: Footer -->