.header{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .header__content {
        display: flex;           
        padding-bottom: 1rem;      
        flex-grow: 1;     
        display: flex;
        flex-direction: column;
    
        .header__number {
            font-weight: 600;
            font-size: 1.8rem;
        } 
    
        .header__desc {
            color: kt-base-color(label, 2);
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 0.55rem;
        }                           
    }
}

img{
    border-radius: 4px;
}